
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env
.env.*

# Flask-related
instance/
*.db
*.sqlite3

# Model files (uncomment if you don’t want to commit models)
# models/*.pkl

# VSCode settings
.vscode/
*.code-workspace

# REST Client history (optional)
*.http

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# macOS / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Test results
htmlcov/
coverage.xml
*.cover
*.py,cover

# pip-wheel-metadata
*.dist-info/
*.egg-info/
=======
# MLflow
mlruns/
mlartifacts/
best_model_metrics.yaml

# Jupyter/IPython
.ipynb_checkpoints/



